
<style type="text/css" media="screen">
  #custom-tweet-button a {
    display: block;
    background: url('/images/twitter_bird.png') center no-repeat;
    float: left;
    padding-left: 2px;
    text-decoration: none;
  }
</style>

<script language="javascript">
document.getElementById("whole").style.height = "3500px";
</script>

<div class="main_content">
<div id="wrapper">
  
<%= render 'form' %>

<% if user_signed_in? %>

<%# if @gratitudes.empty? %>
<% if @gratitude_list.days.empty? || @gratitude_list.days.first.gratitudes.length == 0 %>
  <div id="content" style="padding-top: 90px; max-width: 440px;">
     <div class="entry" style="min-height: 145px; padding: 10px;">
        <span style="color: #a49d96; padding: 0px; line-height: 1em;"><h3>Example</h3></span><br/>
        <div class="grat_block" style="margin-top: -15px;">
          <div class="ex_block">
            <ul id="gratitude" class="gmenu" style="list-style-position: outside; margin-left: -30px;">
              <li>1. Walking around Bernal hill in the morning</li>
              <li>2. Persimmon pudding my mom makes</li>
              <li>3. My bike</li>
            </ul> 
          </div>
             <div id="research_info"><h1></h1></div>
        <div class="hex" id="ex" style="margin-top: -10px;">
	Day 1
          <div class="star"><a href="/community" class="star_true"></a></div>                                     
        </div>
      </div>
    </div>
  </div>       
<% else %>
<div id="content">
  <div>
    <article id="manned-flight">
      <% @gratitude_list.days.each do |day| %>
      <div class="grat_block" id="<%= day.count%>">
	<div class="text_block">	
	  <ul id="gratitude" class="gmenu" style="list-style-position: outside;">
	    <% day.gratitudes.each_with_index do |gratitude,index| %>
		  <li style="list-style-position:outside;"><span style="visibility: visible; padding: 0px; line-height: 1em;" id="num"><%= index + 1 %>.</span> <%= gratitude.answer %></li>
	    <% end %>		  
	  </ul>
	</div>
	<div id="feature"><h1></h1></div> 
	
	<div class="hex">Day <%= day.count %>
	  <div class="star">
	    <a href="/share/<%= day.count %>" class="star_<%= day.is_public %>"></a>
	  </div>
	</div>
      </div>
      <p style="line-height: 0.8em;">&nbsp;</p>
      <% end %>
    </article>
  </div>
<% end %>

<article id="frameless-parachute"></article>				
<article id="english-channel"></article>
<article id="about"></article>
  <nav id="primary">
    <ul>
      <% @gratitude_list.days.each_with_index do |day,index| %>
      <li>
	<% if index + 1 == 7 %>
	  <h1>Week 1</h1>
	<% end %>
	<% if index + 1 == 14 %>
	  <h1>Week 2</h1>
	    <% end %>
	    <% if index + 1 == 21 %>
	      <h1>Week 3</h1>
	    <% end %>
	    <a  href="#<%= index + 1 %>"><%= index + 1 %></a>
      </li>
      <% end %>

      <% for day_index in (@gratitude_list.days.length + 1)..21 %>
	<li>
	  <a style="background: url('/images/hex_side_outline_lite.png') 4px 4px no-repeat; color: #bbd9d5;"><%= day_index %></a>
	</li>
      <% end %>
    </ul>
  </nav>
</div>

<%#= image_tag @gratitude.avatar.url %>
<%#= image_tag @gratitude.avatar.url(:medium) %>
<%#= image_tag @gratitude.avatar.url(:thumb) %>
		     

				 	
    <!-- Parallax foreground -->
    <div id="parallax-bg3">
	    <img id="bg3-1" src="/images/top_dash.png" width="1000" alt="Traingle"/>
	    <img id="bg3-2" src="/images/bottom_dashboard.png" width="1000" alt="Triangle"/>
	    <img id="bg3-4" src="/images/lite_blue_hexa2.png" width="980" alt="Triangle"/>
    </div>
    
    <!-- Parallax  midground clouds -->
    <div id="parallax-bg2">
	    <img id="bg2-3" src="/images/clouds.png" alt="cloud"/>
	    <img id="bg2-4" src="/images/clouds_small.png" alt="cloud"/>
    </div>
    
    <!-- Parallax  background clouds -->
    <div id="parallax-bg1">
	    <img id="bg1-2" src="/images/hexagons_2.png" alt="cloud"/>
	    <img id="bg1-3" src="/images/hexagons_2_flip.png" alt="cloud" />
	    <img id="bg1-5" src="/images/bottom_graphic2.png" alt="trees"/>
    </div>
	
	
	
    <% end %>	
	
	
        </div>
  </div>