<div class="account_dashboard">
<div class="account" id="forgot">
<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><input id="user_submit"  class="send" name="commit" type="submit" value="" /></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
<br/>
</div>