<%= form_for(@blessing) do |f| %>
  <% if @blessing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blessing.errors.count, "error") %> prohibited this gratitude from being saved:</h2>

      <ul>
      <% @blessing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" >
    <div>What are you grateful for today?</div>
    <%= f.text_field :answer %>
  </div>
  <!--<div class="actions">
    <%= f.submit %>
  </div>-->

<% end %>
