
<script language="javascript">
document.getElementById("whole").style.height = "4550px";
</script>

<div class="main_content">
<div id="wrapper">
  
<%= render 'form' %>

<% if @blessings %>
		<div id="content">
		<% counter = 0 %>
<%   days = 0 %>      
			<div>
							<article id="manned-flight">

                          
                                                            <% @blessings.each do |blessing| %>
<% if counter == 0 %>
					<div class="grat_block">
<div class="text_block">
	
<ul id="gratitude" class="gmenu">
	<% end %>

  <% counter += 1 %>
  <% days += 1 %>

	<li><%= blessing.answer %></li>
        
        
        
   
  <% if counter == 3 %>

<div class="share">
  <div class="share2">
      <div style="width: 50px; float: left; margin-top: 6px; ">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://gratitude.is/" data-count="none"  data-hashtags="gratitude">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>  
   <div style="width: 75px;" class="fb-like" data-layout="button_count" data-send="false" data-url="http://gratitude.is/" data-width="70" data-show-faces="false">
   </div>
</div>
</div>

  </ul>
</div>

<div class="hex" id="<%= days/3%>">Day <%= days/3%></div>

<p style="line-height: 0.8em;">&nbsp;</p>

</div>
   
 <% counter = 0 %>

    <% end %>
   
			
				
                                <% end %>
				</article></div>
                                                        <nav id="primary">
				<ul>
                                  <% for i in 1..days/3 %>
					<li>
						<a  href="#<%= i%>"><%= i%></a>
					</li>
                                        <% end %>
                                        
                                  <% for j in days/3+1..21 %>
					<li>
						<a style="background: url('/images/hex_side_outline_lite.png') 4px 4px no-repeat; color: #bbd9d5;"><%= j%></a>
                                        </li>
                                  <% end %>
				</ul>
			</nav>    
				<article id="frameless-parachute">
					
				</article>
				
				<article id="english-channel">
					
				</article>
				
				<article id="about">
					
			</div>
			
			<!-- Parallax foreground -->
			<div id="parallax-bg3">
				
				<img id="bg3-1" src="/images/dashboard_FINAL.png" width="1000" alt="Traingle"/>
				<img id="bg3-2" src="/images/cont_triangle_test.png" width="1000" alt="Triangle"/>
				<img id="bg3-4" src="/images/lite_blue_hexa_2.png" width="980" alt="Triangle"/>
			</div>
			
			<!-- Parallax  midground clouds -->
			<div id="parallax-bg2">
				<img id="bg2-3" src="/images/clouds.png" alt="cloud"/>
				<img id="bg2-4" src="/images/clouds_small.png" alt="cloud"/>
			</div>
			
			<!-- Parallax  background clouds -->
			<div id="parallax-bg1">
				<img id="bg1-2" src="/images/hexagons_2.png" alt="cloud"/>
				<img id="bg1-3" src="/images/hexagons_2_flip.png" alt="cloud" />
				<img id="bg1-4" src="/images/clouds.png" alt="cloud"/>
			</div>
		
		
	<% end %>
        </div>
  </div>