
<style type="text/css" media="screen">
  #custom-tweet-button a {
    display: block;
    background: url('/images/twitter_bird.png') center no-repeat;
    float: left;
    padding-left: 2px;
    text-decoration: none;
  }
</style>

<script language="javascript">
document.getElementById("whole").style.height = "4550px";
</script>

<div class="main_content">
<div id="wrapper">
  
<%= render 'form' %>

<% if user_signed_in? %>

<% if @blessings.empty? %>
<div id="content" style="padding-top: 100px; max-width: 440px;">
  
   <div class="entry" style="min-height: 235px;">
  <p class="tagline">
<b>Research shows that recording 3 gratitudes a day for 3 weeks can make you happier and healthier</b>
  </p>
  <p class="tagline" style="font-size: 20px; padding-bottom: 0px;">
Example:
  </p>
<div class="grat_block">
<div class="ex_block">

<ul id="gratitude" class="gmenu" style="list-style-position: outside;">


  <li>1. Walking around Bernal hill in the morning</li>
  <li>2. Persimon pudding my mom makes</li>
  <li>3. My bike</li>
</ul>

</div>
<div class="hex" id="ex">Day 1
   <div id="ex" style="width: 55px; padding-left: 10px; padding-top: 0px; float: left;" class="fb-like" data-layout="button_count" data-send="false" data-url="http://gratitude.is/sharedby/<%=current_user.cached_slug%>" data-width="70" data-show-faces="false">
   </div>
    <div style="padding-left: 6px;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://gratitude.is/sharedby/<%=current_user.cached_slug%>" data-count="none"  data-hashtags="gratitude">Tweet</a></div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>                    
                                        
</div>
</div>
  </div>
</div>
        
<% end %>

<% if @blessings %>
		<div id="content">
		<% counter = 0 %>
<%   days = 0 %>      
			<div>
							<article id="manned-flight">

                          
                                                            <% @blessings.each do |blessing| %>
<% if counter == 0 %>
					<div class="grat_block">
<div class="text_block">
	
<ul id="gratitude" class="gmenu" style="list-style-position: outside;">
	<% end %>

  <% counter += 1 %>
  <% days += 1 %>

	<li style="list-style-position:outside;"><span style="visibility: visible; padding: 0px; line-height: 1em;" id="num"><%=counter%>.</span> <%= blessing.answer %></li>   
  <% if counter == 3 %>
<script language="javascript">
spans = document.getElementsByTagName("span");

for (i=0;i<spans.length;i++)
{
//spans[i].style.visibility = 'hidden';
}
</script>
  </ul>
</div>

<div class="hex" id="<%= days/3%>">Day <%= days/3%>
   <div id="<%= days/3%>" style="width: 55px; padding-left: 10px; padding-top: 0px; float: left;" class="fb-like" data-layout="button_count" data-send="false" data-url="http://gratitude.is/sharedby/<%=current_user.cached_slug%>#<%= days/3%>" data-width="70" data-show-faces="false">
   </div>
    <div style="padding-left: 6px;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://gratitude.is/sharedby/<%=current_user.cached_slug%>#<%= days/3%>" data-count="none"  data-hashtags="gratitude">Tweet</a></div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>                    
                                        
                                       <!-- <div id="custom-tweet-button">
  <a href="https://twitter.com/share?url=http%3A%2F%2Fgratitude.is%2Fsharedby%2F<%=current_user.cached_slug%>%23<%= days/3%>&text=Gratitude&hashtags=gratitude"
  onclick="window.open('https://twitter.com/share?url=http%3A%2F%2Fgratitude.is%2Fsharedby%2F<%=current_user.cached_slug%>%23<%= days/3%>&text=Gratitude&hashtags=gratitude','window','width=640,height=480'); return false;" target="_blank">&nbsp;</a>
</div>-->
</div>

<p style="line-height: 0.8em;">&nbsp;</p>

</div>
   
 <% counter = 0 %>

    <% end %>
   
			
				
                                <% end %>
				</article></div>
                                                        <nav id="primary">
				<ul>
                                  <% for i in 1..days/3 %>
					<li>
						<a  href="#<%= i%>"><%= i%></a>
					</li>
                                        <% end %>
                                        
                                  <% for j in days/3+1..21 %>
					<!--<li>
						<a style="background: url('/images/hex_side_outline_lite.png') 4px 4px no-repeat; color: #bbd9d5;"><%= j%></a>
                                        </li>-->
                                  <% end %>
				</ul>
			</nav>    
				<article id="frameless-parachute">
					
				</article>
				
				<article id="english-channel">
					
				</article>
				
				<article id="about">
					
			</div>
			
			<!-- Parallax foreground -->
			<div id="parallax-bg3">
				
				<img id="bg3-1" src="/images/dashboard_FINAL.png" width="1000" alt="Traingle"/>
				<img id="bg3-2" src="/images/bottom_dashboard.png" width="1000" alt="Triangle"/>
				<img id="bg3-4" src="/images/lite_blue_hexa2.png" width="980" alt="Triangle"/>
			</div>
			
			<!-- Parallax  midground clouds -->
			<div id="parallax-bg2">
				<img id="bg2-3" src="/images/clouds.png" alt="cloud"/>
				<img id="bg2-4" src="/images/clouds_small.png" alt="cloud"/>
                                <img id="bg2-5" src="/images/clouds_trees.png" alt="cloud"/>
			</div>
			
			<!-- Parallax  background clouds -->
			<div id="parallax-bg1">
				<img id="bg1-2" src="/images/hexagons_2.png" alt="cloud"/>
				<img id="bg1-3" src="/images/hexagons_2_flip.png" alt="cloud" />
                                <img id="bg1-5" src="/images/mt_bottom.png" alt="trees"/>
			</div>

          <% end %>
        <% end %>
        </div>
  </div>