<!DOCTYPE html>
<html>
<head>
  <title>30 days of gratitude</title>
  <link rel="shortcut icon"
 href="http://gratitude.is/favicon.ico" />
  <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Corben' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body onload="document.getElementById('blessing_answer').focus()">
  <div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=255949524467036";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="nav">
  <ul class="hmenu">
    <li class="logo"><a href="/"><img src="/images/logo_small.png"></a></li>
    <% if user_signed_in? %>
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
    <% else %>
      <div class="headline"></div>
    <% end %>
  </ul>
</div>

<%= yield %>

</div>
</div>

<div class="bottom_nav">
  <div class="copy">&copy; Blue Fig Labs</div>
  <div class="subnav">
  <ul class="bmenu">
    <li><a href="terms.html">terms</a></li>
    <li><a href="privacy.html">privacy</a></li>
    <li><a href="mailto:info@gratitude.is">contact</li>
  </ul>
  </div>
</div>
</body>
</html>
